
//

//---if you read this in the TTN console --------------- copy/pasted from https://console.thethingsnetwork.org/applications/YOURAPP/devices/  ------------


// mydevicename
const char *devAddr = "26011123";
const char *nwkSKey = "4C94E92AAB4A68A6455CA20F97F91123";
const char *appSKey = "C50210BC9A25DE2B1BFDD0EC18957123";

